<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInternalService"/>
            </basicHttpBinding>
        </bindings>
      <behaviors>
        <serviceBehaviors>
          <!--Resolving M$ bug for webservices - location is set incorrectly 
        http://stackoverflow.com/questions/15877064/azure-web-service-over-ssl-returns-incorrect-soap-address-location -->
          <behavior>
            <useRequestHeadersForMetadataAddress/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
        <client>
            <endpoint address="http://londvwl01/PublicAPI/InternalWSAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInternalService" contract="ServiceReference1.IInternalService" name="BasicHttpBinding_IInternalService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
